name: Lint

on:
  push:
    branches:
      - master
      - renovate/*

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Install nodejs
        uses: actions/setup-node@v6
        with:
          node-version: 24.11.1
      - run: npm i
      - run: |
          npm run lint:eslint
          npm run lint:prettier

