name: Jest

on:
  push:
    branches:
      - master
      - renovate/*

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Install nodejs
        uses: actions/setup-node@v6
        with:
          node-version: 24.13.0
      - run: npm i
      - run: npm test

